<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean name="User" class="day101901J2EE22spring01.User"></bean>

<bean class="day101901J2EE22spring01.User2"></bean>

<bean name="User3" class="day101901J2EE22spring01.User3" scope="prototype"></bean>


</beans>